#eclipse files
.project
.settings

#webstorm
#IntellijIdea
#vscode
.idea/
.iml
*.iml
*.tmp
.vscode

# temp files
.DS_Store
Thumbs.db
Desktop.ini

#log files
.log
logs/*

#svn
.svn/*

# Vim swap files
*.swp

node_modules/
**/node_modules/

.sass-cache/
tmp-cmd/
**/obj
**/bin
**/.ntvs_analysis.dat.tmp
**/.ntvs_analysis.dat*

